---
import { Icon } from "astro-icon/components";

export interface Props {
	title: string;
	path: string;
	index: number;
	isLast?: boolean;
}

const { title, path, index, isLast = false } = Astro.props;
---

<li class="flex items-center gap-2">
	<a
		href={path}
		class="flex items-center gap-1 transition-colors text-black/70 hover:text-black dark:text-white/70 hover:dark:text-white"
	>
		{index == -1 && <Icon name="lucide:home" />}
		<span>{title}</span>
	</a>

	{
		!isLast && (
			<Icon
				name="lucide:chevron-right"
				class="w-3.5 h-3.5 text-black/50 dark:text-white/50"
			/>
		)
	}
</li>