---
import "./Breadcrumb.css"

export interface Props {
  containLastUrl?: boolean
}

const urlObj = new URL(Astro.request.url);
const segments = urlObj.pathname.split('/').filter(Boolean);
const { containLastUrl } = Astro.props

let accumulatedPath = '/';
---

<div aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li>
        <a href="/">Home</a>
      </li>
      {segments.map((segment, index) => {
        accumulatedPath += segment + '/';
        const isLast = index === (containLastUrl ? segments.length : segments.length - 1);
        if(!isLast) {
            return (<li>
            {!isLast && <a href={accumulatedPath}>{segment}</a>}
          </li>
          )}
      })}
    </ol>
</div>

  