---
import { Icon } from 'astro-icon/components'
import type { TechStackIcon } from './TechStackIcon'
import type { BaseIconProps } from './Icon'
import "./TechStackIcon.astro.css"

export interface Props extends BaseIconProps {
    name: TechStackIcon
}

const { name: iconName } = Astro.props
---

<div class="icon-container" data-iconname={iconName}>
    <Icon {...Astro.props} name={`skill-icons:${iconName}`}/>
</div>