---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"div"> {
	class?: string;
	featured?: boolean;
	href?: string | undefined;
}

const {
	class: selectorClass = "",
	featured = false,
	href = undefined,
} = Astro.props;

//이거 왜 a태그 쓰면 고장남?
---

<div
	data-myo-card
	{...href != undefined && { href }}
	class:list={[
		selectorClass, // 스크립트 선택용
		"overflow-hidden rounded-2xl backdrop-blur-xl border opacity-0",
		// 5. 'dark:' 변형을 사용하여 스타일을 정의합니다.
		"bg-black/10 border-black/20 hover:bg-black/15", // Light (default)
		"dark:bg-white/10 dark:border-white/20 dark:hover:bg-white/15", // Dark
		featured ? "md:col-span-2" : "",
		href != undefined ? "cursor-pointer" : "",
	]}
	{...Astro.props}
>
	<slot />
</div>

<script>
	import { animate, hover } from "motion";

	const getIsDark = () => {
		return document.documentElement.classList.contains("dark");
	};

	document.querySelectorAll("div[data-myo-card]").forEach((card) =>
		hover(card, (el) => {
			const isDark = getIsDark();
			const hoverShadow = isDark
				? "0 25px 50px -12px rgba(255,255,255,0.25)"
				: "0 25px 50px -12px rgba(0,0,0,0.25)";

			animate(
				el,
				{ scale: 1.03, y: -5, boxShadow: hoverShadow },
				{ duration: 0.3, ease: "easeOut" }
			);
			return () => {
				animate(
					el,
					{ scale: 1.03, y: 0, boxShadow: "none" },
					{ duration: 0.3, ease: "easeOut" }
				);
			};
		})
	);
</script>
