.pagefind-container {
    width: 100%;
    height: auto;
    margin-top: 10rem;
}

.pagefind-ui {
    --pagefind-ui-scale: 0.75;
    --pagefind-ui-primary: navy;
    --pagefind-ui-text: black;
    --pagefind-ui-border: slategrey;
    --pagefind-ui-border-width: 1px;
    --pagefind-ui-border-radius: 0.25rem;
    --pagefind-ui-font: sans-serif;


    max-width: 50%;
    width: 50%;
    margin: auto;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20rem);
}

.pagefind-ui--reset {
    max-width: 100%;
    margin: 0 !important;
}

.pagefind-ui__search-input {
    margin: 0;

    &:focus {
        outline: none;
    }
}

.pagefind-ui-form {
    display: flex;
    flex-direction: column;

    height: 100%;
    width: 100%;
}

.pagefind-ui__drawer {
    max-height: calc(100vh - 20rem - 48px) !important;
    overflow: scroll !important;
}

.pagefind-ui__results-area {
    margin: 0 !important;
}

.pagefind-ui__result {
    position: relative;
    padding-right: 1rem !important;
}

.pagefind-ui__result-excerpt {
    text-wrap: pretty;
}

.pagefind-ui__result-thumb {
    margin: 0 !important;
}

.pagefind-ui__result-image {
}

.pagefind-ui__result-inner {
    margin: 0 !important;
}

.pagefind-ui__drawer::-webkit-scrollbar {
    width: 8px;
}

.pagefind-ui__drawer::-webkit-scrollbar-button {
    display: none;
}

.pagefind-ui__drawer::-webkit-scrollbar-corner {
    display: none;
}

.pagefind-ui__drawer::-webkit-scrollbar-track {
    background: transparent;
    margin: 4px 0;
}

.pagefind-ui__drawer::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 9999px;
}

.pagefind-ui__drawer::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, 0.5);
}