---
import { Icon } from "astro-icon/components";
import type { HTMLAttributes } from "astro/types";
import { cva, type VariantProps } from "class-variance-authority";

export interface Props
	extends HTMLAttributes<"span">,
		VariantProps<typeof badgeVariants> {
			title: string,
			icon?: string
		}

const badgeVariants = cva(
	"px-3 py-1 backdrop-blur-xl rounded-full border",
	{
		variants: {
			variant: {
				default: "bg-black/90 text-white border-black/30 dark:bg-white/90 dark:text-black dark:border-white/30",
				arcylic: ""
			},
			size: {
				small: "text-xs",
				medium: "text-sm",
				large: "text-md",
			}
		},
		defaultVariants: {
			variant: "default",
			size: "medium"
		},
	}
);

const { variant, size, class: className, title, icon } = Astro.props;

---

<span data-slot="badge" class:list={badgeVariants({ variant, size, className })}>
	{icon && <Icon name={icon}/>}
	<span>{title}</span>
</span>
